%html
	%head
		%title SnailMail

	%body
		%p It is kinda slow...

	%h3 To Do List
	%table
		%tr
			%td Add "deliver after" to messages
		%tr
			%td Show a user messages that have been sent to them
		%tr
			%td Only show messages that have been delivered
		%tr
			%td Add "read" to messages
		%tr
			%td Make a login page
		%tr
			%td Make a signup page
		%tr
			%td Do passwords with salt and stuff
		%tr
			%td Start using sessions so that you have to log in
		%tr
			%td Delete a user
		%tr
			%td Edit a user
		%tr
			%td As a user, see my messages
		%tr
			%td Add some styling