%html
  %head
    %title Send a Message
    
%form{:action => "/user/#{user.id}/message/new", :method => "POST"}
  %fieldset
    %ol
      %li
        %label{:for => "to"} To:
        %input{:type => "text", :name => "to", :class => "text"}
      %li
        %label{:for => "content"} Contents:
        %input{:type => "text", :name => "content", :class => "text"}
    %input{:type => "submit", :value => "Save", :class => "button"}