%html
  %head
    %title Send a Message
    
%form{:id => "new_message", :action => "/user/#{@user.id}/message/new", :method => "POST"}
  %fieldset
    %ol
      %li
        %label{:for => "to"} To:
        %select{:form => "new_message", :name => "to" }
          -@users.each do |user|
            %option{:value => user.id }= user.name
      %li
        %label{:for => "content"} Contents:
        %input{:type => "text", :name => "content", :class => "text"}
    %input{:type => "submit", :value => "Save", :class => "button"}